.wave {
  animation: wave 30s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  animation-direction: alternate;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  animation: wave 30s cubic-bezier(0.6, 0, 0.3, 1) infinite;
  animation-direction: alternate;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -200vw;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
